In [1]:
#這是測試
import numpy as np
import pandas as pd
dataFrame = pd.read_csv('world.csv')
dataFrame

,ID,iso_code,洲名,國家,日期,總確診數,新增確診數,七天移動平均新增確診數,總死亡數,新增死亡數,...,七天移動平均疫苗新增接種劑數,每百人接種疫苗劑數,每百人接種疫苗人數,疫情控管指數,總人口數,中位數年紀,70歲以上人口比例,平均壽命,解除隔離數,解封指數
0,1,AFG,亞洲,阿富汗,2020-02-24,5,5,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
1,2,AFG,亞洲,阿富汗,2020-02-25,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
2,3,AFG,亞洲,阿富汗,2020-02-26,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
3,4,AFG,亞洲,阿富汗,2020-02-27,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
4,5,AFG,亞洲,阿富汗,2020-02-28,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187880,187881,ZWE,非洲,辛巴威,2022-07-02,255586,0,39.571,5555,0,...,6190.0,79.41,41.81,0.00,15092171,19.6,1.882,61.49,0,99999.0
187881,187882,ZWE,非洲,辛巴威,2022-07-03,255586,0,33.000,5555,0,...,8710.0,79.55,41.86,0.00,15092171,19.6,1.882,61.49,0,99999.0
187882,187883,ZWE,非洲,辛巴威,2022-07-04,255726,140,49.000,5558,3,...,10797.0,79.67,41.90,0.00,15092171,19.6,1.882,61.49,0,99999.0
187883,187884,ZWE,非洲,辛巴威,2022-07-05,255755,29,53.143,5558,0,...,10821.0,79.68,41.90,0.00,15092171,19.6,1.882,61.49,0,99999.0
187884,187885,ZWE,非洲,辛巴威,2022-07-06,255805,50,40.714,5560,2,...,0.0,0.00,0.00,0.00,15092171,19.6,1.882,61.49,0,99999.0

In [3]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 33 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              187885 non-null  int64
 1   iso_code        187885 non-null  object
 2   洲名              187885 non-null  object
 3   國家              187885 non-null  object
 4   日期              187885 non-null  object
 5   總確診數            187885 non-null  int64
 6   新增確診數           187885 non-null  int64
 7   七天移動平均新增確診數     187885 non-null  float64
 8   總死亡數            187885 non-null  int64
 9   新增死亡數           187885 non-null  int64
 10  七天移動平均新增死亡數     187885 non-null  float64
 11  每百萬人確診數         187885 non-null  float64
 12  每百萬人死亡數         187885 non-null  float64
 13  傳染率             187885 non-null  float64
 14  新增檢驗件數          187885 non-null  int64
 15  總檢驗件數           187885 non-null  int64
 16  每千人檢驗件數         187885 non-null  float64
 17  七天移動平均新增檢驗件數    187885 non-null  float64
 18  陽性率             187885 non-null  float64
 19  每確診案例相對檢驗數量     187885 non-null  float64
 20  疫苗總接種總劑數        187885 non-null  int64
 21  疫苗總接種人數         187885 non-null  int64
 22  疫苗新增接種劑數        187885 non-null  int64
 23  七天移動平均疫苗新增接種劑數  187885 non-null  float64
 24  每百人接種疫苗劑數       187885 non-null  float64
 25  每百人接種疫苗人數       187885 non-null  float64
 26  疫情控管指數          187885 non-null  float64
 27  總人口數            187885 non-null  int64
 28  中位數年紀           187885 non-null  float64
 29  70歲以上人口比例       187885 non-null  float64
 30  平均壽命            187885 non-null  float64
 31  解除隔離數           187885 non-null  int64
 32  解封指數            187885 non-null  float64
dtypes: float64(17), int64(12), object(4)
memory usage: 47.3+ MB

In [2]:
#'洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數'
allDataFrame=dataFrame.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數'])
allDataFrame

        洲名   國家          日期    總確診數  新增確診數      總人口數     解封指數
0       亞洲  阿富汗  2020-02-24       5      5  39835428  99999.0
1       亞洲  阿富汗  2020-02-25       5      0  39835428  99999.0
2       亞洲  阿富汗  2020-02-26       5      0  39835428  99999.0
3       亞洲  阿富汗  2020-02-27       5      0  39835428  99999.0
4       亞洲  阿富汗  2020-02-28       5      0  39835428  99999.0
...     ..  ...         ...     ...    ...       ...      ...
187880  非洲  辛巴威  2022-07-02  255586      0  15092171  99999.0
187881  非洲  辛巴威  2022-07-03  255586      0  15092171  99999.0
187882  非洲  辛巴威  2022-07-04  255726    140  15092171  99999.0
187883  非洲  辛巴威  2022-07-05  255755     29  15092171  99999.0
187884  非洲  辛巴威  2022-07-06  255805     50  15092171  99999.0

[187885 rows x 7 columns]

In [3]:
#請找出台灣資料
#[]搜尋
#query()搜尋
taiwan=allDataFrame.query('國家=="台灣"')
taiwan

        洲名  國家          日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20        0      0  23855008  99999.00
...     ..  ..         ...      ...    ...       ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

In [4]:
#請找出台灣資料,新增確診數0
#[]搜尋
#query()搜尋
taiwan1=allDataFrame.query('國家=="台灣" and 新增確診數==0')
taiwan1

        洲名  國家          日期    總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16       0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17       0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18       0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19       0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20       0      0  23855008  99999.00
...     ..  ..         ...     ...    ...       ...       ...
164627  亞洲  台灣  2021-10-18   16337      0  23855008      0.16
164823  亞洲  台灣  2022-05-02  132955      0  23855008      8.02
164828  亞洲  台灣  2022-05-07  268569      0  23855008     17.16
164829  亞洲  台灣  2022-05-08  268569      0  23855008     17.16
164834  亞洲  台灣  2022-05-13  570870      0  23855008     37.55

[186 rows x 7 columns]

In [8]:
#請找出台灣資料,新增確診數>=10000
#[]搜尋
#query()搜尋
taiwan1=allDataFrame.query('國家=="台灣" and 新增確診數>=10000')
taiwan1

        洲名  國家          日期     總確診數  新增確診數      總人口數    解封指數
164819  亞洲  台灣  2022-04-28    88446  11508  23855008    5.02
164820  亞洲  台灣  2022-04-29   100753  12307  23855008    5.85
164821  亞洲  台灣  2022-04-30   115883  15130  23855008    6.87
164822  亞洲  台灣  2022-05-01   132955  17072  23855008    8.02
164824  亞洲  台灣  2022-05-03   173942  40987  23855008   10.78
...     ..  ..         ...      ...    ...       ...     ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008  258.17
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008  260.37
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008  261.94
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008  264.37
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008  266.71

[66 rows x 7 columns]

In [11]:
#請找出台灣資料,最多新增確診數的資料
#[]搜尋
#query()搜尋
allDataFrame.query('國家=="台灣"')['新增確診數'].max()

128954

In [12]:
#請找出台灣資料,最多新增確診數的日期
#[]搜尋
#query()搜尋
max = allDataFrame.query('國家=="台灣"')['新增確診數'].max()
allDataFrame.query('新增確診數==@max')

        洲名  國家          日期    總確診數   新增確診數      總人口數   解封指數
164835  亞洲  台灣  2022-05-14  699824  128954  23855008  46.24

In [13]:
#請找出日本資料,最多新增確診數的日期
#[]搜尋
#query()搜尋
max = allDataFrame.query('國家=="日本"')['新增確診數'].max()
allDataFrame.query('新增確診數==@max')

       洲名  國家          日期     總確診數   新增確診數       總人口數     解封指數
86369  亞洲  日本  2022-02-03  3019169  104345  126050796  99999.0

In [14]:
#請找出美國資料,最多新增確診數的日期
#[]搜尋
#query()搜尋
max = allDataFrame.query('國家=="美國"')['新增確診數'].max()
allDataFrame.query('新增確診數==@max')

         洲名  國家          日期      總確診數    新增確診數       總人口數     解封指數
177979  北美洲  美國  2022-01-10  61801347  1383887  332915074  99999.0

In [16]:
#請找出台灣資料,日期2022年的資料
#[]搜尋
#query()搜尋
allDataFrame.query('國家=="台灣" and 日期>="2022-01-01"')

        洲名  國家          日期     總確診數  新增確診數      總人口數    解封指數
164702  亞洲  台灣  2022-01-01    17050     21  23855008    0.21
164703  亞洲  台灣  2022-01-02    17070     20  23855008    0.21
164704  亞洲  台灣  2022-01-03    17095     25  23855008    0.21
164705  亞洲  台灣  2022-01-04    17129     34  23855008    0.21
164706  亞洲  台灣  2022-01-05    17155     26  23855008    0.22
...     ..  ..         ...      ...    ...       ...     ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008  258.17
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008  260.37
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008  261.94
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008  264.37
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008  266.71

[187 rows x 7 columns]