### 世界covid19.csv資料

In [ ]:
import pandas as pd
import numpy as np

dataFrame = pd.read_csv('world.csv')
dataFrame

In [5]:
allDataFrame = dataFrame.reindex(columns=['洲名','國家','總確診','新增確診數','總人口數','解封指數'])
allDataFrame

        洲名   國家  總確診  新增確診數      總人口數     解封指數
0       亞洲  阿富汗  NaN      5  39835428  99999.0
1       亞洲  阿富汗  NaN      0  39835428  99999.0
2       亞洲  阿富汗  NaN      0  39835428  99999.0
3       亞洲  阿富汗  NaN      0  39835428  99999.0
4       亞洲  阿富汗  NaN      0  39835428  99999.0
...     ..  ...  ...    ...       ...      ...
187880  非洲  辛巴威  NaN      0  15092171  99999.0
187881  非洲  辛巴威  NaN      0  15092171  99999.0
187882  非洲  辛巴威  NaN    140  15092171  99999.0
187883  非洲  辛巴威  NaN     29  15092171  99999.0
187884  非洲  辛巴威  NaN     50  15092171  99999.0

[187885 rows x 6 columns]