### 世界covid19.csv資料

In [3]:
import pandas as pd
import numpy as np

dataFrame = pd.read_csv('world.csv')
dataFrame.head()

,ID,iso_code,洲名,國家,日期,總確診數,新增確診數,七天移動平均新增確診數,總死亡數,新增死亡數,...,七天移動平均疫苗新增接種劑數,每百人接種疫苗劑數,每百人接種疫苗人數,疫情控管指數,總人口數,中位數年紀,70歲以上人口比例,平均壽命,解除隔離數,解封指數
0,1,AFG,亞洲,阿富汗,2020-02-24,5,5,0.0,0,0,...,0.0,0.0,0.0,8.33,39835428,18.6,1.337,64.83,0,99999.0
1,2,AFG,亞洲,阿富汗,2020-02-25,5,0,0.0,0,0,...,0.0,0.0,0.0,8.33,39835428,18.6,1.337,64.83,0,99999.0
2,3,AFG,亞洲,阿富汗,2020-02-26,5,0,0.0,0,0,...,0.0,0.0,0.0,8.33,39835428,18.6,1.337,64.83,0,99999.0
3,4,AFG,亞洲,阿富汗,2020-02-27,5,0,0.0,0,0,...,0.0,0.0,0.0,8.33,39835428,18.6,1.337,64.83,0,99999.0
4,5,AFG,亞洲,阿富汗,2020-02-28,5,0,0.0,0,0,...,0.0,0.0,0.0,8.33,39835428,18.6,1.337,64.83,0,99999.0

In [13]:
allDataFrame = dataFrame.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數'])
allDataFrame

        洲名   國家          日期    總確診數  新增確診數      總人口數     解封指數
0       亞洲  阿富汗  2020-02-24       5      5  39835428  99999.0
1       亞洲  阿富汗  2020-02-25       5      0  39835428  99999.0
2       亞洲  阿富汗  2020-02-26       5      0  39835428  99999.0
3       亞洲  阿富汗  2020-02-27       5      0  39835428  99999.0
4       亞洲  阿富汗  2020-02-28       5      0  39835428  99999.0
...     ..  ...         ...     ...    ...       ...      ...
187880  非洲  辛巴威  2022-07-02  255586      0  15092171  99999.0
187881  非洲  辛巴威  2022-07-03  255586      0  15092171  99999.0
187882  非洲  辛巴威  2022-07-04  255726    140  15092171  99999.0
187883  非洲  辛巴威  2022-07-05  255755     29  15092171  99999.0
187884  非洲  辛巴威  2022-07-06  255805     50  15092171  99999.0

[187885 rows x 7 columns]

In [44]:
taiwanFrame = allDataFrame[allDataFrame['國家'] == '台灣']
taiwanFrame

        洲名  國家          日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20        0      0  23855008  99999.00
...     ..  ..         ...      ...    ...       ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

In [50]:
#將使用pd.to_datatime()日期轉換為datatime
#有使用&一定要用()號
taiwan2022 = taiwanFrame[(taiwanFrame['日期']>'2022-01-01') & (taiwanFrame['日期']<='2022-07-06')]
taiwan2022

        洲名  國家          日期     總確診數  新增確診數      總人口數    解封指數
164703  亞洲  台灣  2022-01-02    17070     20  23855008    0.21
164704  亞洲  台灣  2022-01-03    17095     25  23855008    0.21
164705  亞洲  台灣  2022-01-04    17129     34  23855008    0.21
164706  亞洲  台灣  2022-01-05    17155     26  23855008    0.22
164707  亞洲  台灣  2022-01-06    17198     43  23855008    0.22
...     ..  ..         ...      ...    ...       ...     ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008  258.17
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008  260.37
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008  261.94
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008  264.37
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008  266.71

[186 rows x 7 columns]

In [51]:
taiwan2022 = taiwanFrame.query('日期 > "2022-01-01"' and '日期 <= "2022-07-06"')
taiwan2022

        洲名  國家          日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20        0      0  23855008  99999.00
...     ..  ..         ...      ...    ...       ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

In [54]:
japanFrame = allDataFrame[allDataFrame['國家'] == '日本']
japanFrame

       洲名  國家          日期     總確診數  新增確診數       總人口數     解封指數
85626  亞洲  日本  2020-01-22        2      0  126050796  99999.0
85627  亞洲  日本  2020-01-23        2      0  126050796  99999.0
85628  亞洲  日本  2020-01-24        2      0  126050796  99999.0
85629  亞洲  日本  2020-01-25        2      0  126050796  99999.0
85630  亞洲  日本  2020-01-26        4      2  126050796  99999.0
...    ..  ..         ...      ...    ...        ...      ...
86518  亞洲  日本  2022-07-02  9364954  24875  126050796  99999.0
86519  亞洲  日本  2022-07-03  9388222  23268  126050796  99999.0
86520  亞洲  日本  2022-07-04  9405007  16785  126050796  99999.0
86521  亞洲  日本  2022-07-05  9441171  36164  126050796  99999.0
86522  亞洲  日本  2022-07-06  9486965  45794  126050796  99999.0

[897 rows x 7 columns]

In [57]:
japan2022 = japanFrame[(japanFrame['日期']>'2022-01-01') & (japanFrame['日期']<='2022-07-06')]
japan2022

       洲名  國家          日期     總確診數  新增確診數       總人口數     解封指數
86337  亞洲  日本  2022-01-02  1733229    477  126050796  99999.0
86338  亞洲  日本  2022-01-03  1733901    672  126050796  99999.0
86339  亞洲  日本  2022-01-04  1735050   1149  126050796  99999.0
86340  亞洲  日本  2022-01-05  1737540   2490  126050796  99999.0
86341  亞洲  日本  2022-01-06  1741837   4297  126050796  99999.0
...    ..  ..         ...      ...    ...        ...      ...
86518  亞洲  日本  2022-07-02  9364954  24875  126050796  99999.0
86519  亞洲  日本  2022-07-03  9388222  23268  126050796  99999.0
86520  亞洲  日本  2022-07-04  9405007  16785  126050796  99999.0
86521  亞洲  日本  2022-07-05  9441171  36164  126050796  99999.0
86522  亞洲  日本  2022-07-06  9486965  45794  126050796  99999.0

[186 rows x 7 columns]

In [74]:
def call(s):
    return pd.Series([s.min(), s.max(), s.mean()], index=['最少','最多','中間值'])

taiwan = pd.DataFrame(taiwan2022['新增確診數'].values,columns=['台灣'])
japan = pd.DataFrame(japan2022['新增確診數'].values,columns=['日本'])
taiwan1 = taiwan.apply(call)
japan1 = japan.apply(call)
taiwan1.add(japan1,fill_value=0)

                台灣             日本
最少        0.000000     477.000000
最多   128954.000000  104345.000000
中間值    4390.022148   41689.317204