In [1]:
#DataFrame
import pandas as pd
data = { '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
         '年份':[2000, 2001, 2002, 2001, 2002, 2003],
         '人口':[2.2, 2.5, 2.7, 1.1, 1.5, 2.0]}
frame = pd.DataFrame(data)
frame

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [4]:
data = { '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
         '年份':[2000, 2001, 2002, 2001, 2002, 2003],
         '人口':[2.2, 2.5, 2.7, 1.1, 1.5, 2.0]}
frame = pd.DataFrame(data,columns=['年份','人口','縣市'])
frame

     年份   人口  縣市
0  2000  2.2  台北
1  2001  2.5  台北
2  2002  2.7  台北
3  2001  1.1  新竹
4  2002  1.5  新竹
5  2003  2.0  新竹

In [5]:
data = { '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
         '年份':[2000, 2001, 2002, 2001, 2002, 2003],
         '人口':[2.2, 2.5, 2.7, 1.1, 1.5, 2.0]}
frame = pd.DataFrame(data,columns=['年份','人口','縣市'],index=['one', 'two', 'three', 'foru', 'five', 'six'])
frame

         年份   人口  縣市
one    2000  2.2  台北
two    2001  2.5  台北
three  2002  2.7  台北
foru   2001  1.1  新竹
five   2002  1.5  新竹
six    2003  2.0  新竹

In [10]:
#練習建立學生成績單
import numpy as np
import pandas as pd

scores = np.random.randint(50,101,size=(50,5))
scores_df = pd.DataFrame(scores,index=range(1,51),columns=['國文', '英文', '數學', '地理', '歷史'])
scores_df.columns.name = "科目"
scores_df.index.name = "學號"

In [11]:
scores_df

科目   國文   英文   數學   地理   歷史
學號
1    54   89   62   56   76
2    95   70   91   59   57
3    98   94   50   79   90
4    60   99   65   73   59
5    69   79   87   56   70
6    54   78   62   92   86
7    53   79   77   88   99
8    55   83   84   89   61
9    89   85   51   97   73
10   56  100   86   70   89
11   93  100   89   78   71
12   90   79   67   89   57
13   92   58   54   89   62
14   81   79   75   71   99
15   61   94   65   75   77
16   72   71   96   92   65
17   57   87   67   50   52
18   53   97   59   69   73
19   63   50   79   90   62
20   67   78   94  100   79
21   71   99   60   57   70
22   72   52   84   94   68
23   53   68   84   80   78
24   86   70  100   79   63
25   94   71   91   72   89
26   93  100   82   56   68
27   96   50   75   86   94
28   93   93   99   71  100
29   97   80   96   81   79
30   86   52   54   62   58
31   51   84   62   62   51
32   85   63   63   73   98
33   90   78   72   88   57
34   72   71   56   94   67
35   60   68   51   83   88
36   99   66   93   59   86
37   99   53   59   68   63
38   98   55   56   72   64
39   52   78   81   76   80
40   75   86   64   94   85
41   59   63   54   82   75
42   96   94   55   60   91
43   65   51   97   53   75
44   91   67   54   66   74
45  100   55   57   92   82
46   66   65   88   58   84
47   61   65   96   54   80
48  100   90   64   82   55
49   93   61   66   51  100
50   51   69   90   59  100

In [13]:
np.sum(scores_df['國文'])

3816