In [1]:
#DataFrame
import pandas as pd
data = { '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
         '年份':[2000, 2001, 2002, 2001, 2002, 2003],
         '人口':[2.2, 2.5, 2.7, 1.1, 1.5, 2.0]}
frame = pd.DataFrame(data)
frame

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [4]:
data = { '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
         '年份':[2000, 2001, 2002, 2001, 2002, 2003],
         '人口':[2.2, 2.5, 2.7, 1.1, 1.5, 2.0]}
frame = pd.DataFrame(data,columns=['年份','人口','縣市'])
frame

     年份   人口  縣市
0  2000  2.2  台北
1  2001  2.5  台北
2  2002  2.7  台北
3  2001  1.1  新竹
4  2002  1.5  新竹
5  2003  2.0  新竹

In [5]:
data = { '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
         '年份':[2000, 2001, 2002, 2001, 2002, 2003],
         '人口':[2.2, 2.5, 2.7, 1.1, 1.5, 2.0]}
frame = pd.DataFrame(data,columns=['年份','人口','縣市'],index=['one', 'two', 'three', 'foru', 'five', 'six'])
frame

         年份   人口  縣市
one    2000  2.2  台北
two    2001  2.5  台北
three  2002  2.7  台北
foru   2001  1.1  新竹
five   2002  1.5  新竹
six    2003  2.0  新竹

In [10]:
#練習建立學生成績單
import numpy as np
import pandas as pd

scores = np.random.randint(50,101,size=(50,5))
scores_df = pd.DataFrame(scores,index=range(1,51),columns=['國文', '英文', '數學', '地理', '歷史'])
scores_df.columns.name = "科目"
scores_df.index.name = "學號"

In [17]:
#[欄位名稱]取出整欄
scores_df['國文']

學號
1      54
2      95
3      98
4      60
5      69
6      54
7      53
8      55
9      89
10     56
11     93
12     90
13     92
14     81
15     61
16     72
17     57
18     53
19     63
20     67
21     71
22     72
23     53
24     86
25     94
26     93
27     96
28     93
29     97
30     86
31     51
32     85
33     90
34     72
35     60
36     99
37     99
38     98
39     52
40     75
41     59
42     96
43     65
44     91
45    100
46     66
47     61
48    100
49     93
50     51
Name: 國文, dtype: int64

In [21]:
#.loc[列的索引]
scores_df.loc[50]

科目
國文     51
英文     69
數學     90
地理     59
歷史    100
Name: 50, dtype: int64