In [9]:
#yahoo股票reader
#pandas_datareader
import pandas_datareader.data as web
tsmc=web.get_data_yahoo('2330.TW',start='2021-01-01',end='2021-11-10')

             High    Low   Open  Close      Volume   Adj Close
Date
2021-01-04  540.0  528.0  530.0  536.0  38770328.0  529.199768
2021-01-05  542.0  535.0  536.0  542.0  34411866.0  535.123596
2021-01-06  555.0  541.0  555.0  549.0  53030554.0  542.034790
2021-01-07  570.0  553.0  554.0  565.0  51166782.0  557.831787
2021-01-08  580.0  571.0  580.0  580.0  59563555.0  572.641541
...           ...    ...    ...    ...         ...         ...
2021-11-04  594.0  585.0  592.0  587.0  17932145.0  587.000000
2021-11-05  600.0  595.0  598.0  600.0  33270827.0  600.000000
2021-11-08  602.0  598.0  600.0  602.0  19752355.0  602.000000
2021-11-09  617.0  610.0  611.0  611.0  39538660.0  611.000000
2021-11-10  612.0  608.0  611.0  612.0  16545280.0  612.000000

[207 rows x 6 columns]

In [10]:
all_data = {ticker:web.get_data_yahoo(ticker ,start='2021-01-01',end='2021-11-10') for ticker in ['2330.TW','2303.TW','2454.TW','2317.TW']}
all_data

{'2330.TW':              High    Low   Open  Close      Volume   Adj Close
 Date
 2021-01-04  540.0  528.0  530.0  536.0  38770328.0  529.199707
 2021-01-05  542.0  535.0  536.0  542.0  34411866.0  535.123657
 2021-01-06  555.0  541.0  555.0  549.0  53030554.0  542.034790
 2021-01-07  570.0  553.0  554.0  565.0  51166782.0  557.831787
 2021-01-08  580.0  571.0  580.0  580.0  59563555.0  572.641541
 ...           ...    ...    ...    ...         ...         ...
 2021-11-04  594.0  585.0  592.0  587.0  17932145.0  587.000000
 2021-11-05  600.0  595.0  598.0  600.0  33270827.0  600.000000
 2021-11-08  602.0  598.0  600.0  602.0  19752355.0  602.000000
 2021-11-09  617.0  610.0  611.0  611.0  39538660.0  611.000000
 2021-11-10  612.0  608.0  611.0  612.0  16545280.0  612.000000

 [207 rows x 6 columns],
 '2303.TW':                  High        Low       Open      Close       Volume  Adj Close
 Date
 2021-01-04  46.500000  44.000000  46.150002  45.549999  403842303.0  44.115456
 2021-01-05  46.349998  44.549999  44.900002  46.349998  202966468.0  44.890259
 2021-01-06  47.750000  45.900002  47.549999  46.950001  301970846.0  45.471363
 2021-01-07  47.599998  46.000000  47.349998  46.200001  165917770.0  44.744984
 2021-01-08  48.349998  46.299999  46.700001  47.849998  338209260.0  46.343018
 ...               ...        ...        ...        ...          ...        ...
 2021-11-04  59.900002  58.500000  59.900002  58.599998   76279150.0  58.599998
 2021-11-05  60.900002  59.200001  59.599998  60.400002  186857464.0  60.400002
 2021-11-08  62.500000  60.500000  60.700001  62.500000  207476998.0  62.500000
 2021-11-09  64.900002  63.099998  63.799999  63.099998  229429473.0  63.099998
 2021-11-10  64.000000  62.400002  63.400002  63.099998  126469301.0  63.099998

 [207 rows x 6 columns],
 '2454.TW':               High    Low    Open  Close      Volume   Adj Close
 Date
 2021-01-04   798.0  752.0   755.0  792.0  13995441.0  761.379333
 2021-01-05   804.0  775.0   796.0  797.0   9187166.0  766.185974
 2021-01-06   814.0  785.0   802.0  792.0   9257326.0  761.379333
 2021-01-07   808.0  785.0   794.0  799.0   7450197.0  768.108643
 2021-01-08   844.0  802.0   810.0  838.0  13239667.0  805.600830
 ...            ...    ...     ...    ...         ...         ...
 2021-11-04   945.0  926.0   945.0  928.0   2340539.0  928.000000
 2021-11-05   940.0  927.0   939.0  940.0   3449046.0  940.000000
 2021-11-08   983.0  944.0   947.0  980.0  10466167.0  980.000000
 2021-11-09  1000.0  976.0  1000.0  978.0   6868045.0  978.000000
 2021-11-10   978.0  958.0   972.0  958.0   3589001.0  958.000000

 [207 rows x 6 columns],
 '2317.TW':              High         Low        Open       Close       Volume   Adj Close
 Date
 2021-01-04  100.0   93.300003   93.400002   99.900002  232054808.0   96.348000
 2021-01-05  105.0  101.000000  101.000000  104.000000  232720464.0  100.302223
 2021-01-06  109.0  102.000000  107.500000  105.000000  220680394.0  101.266670
 2021-01-07  108.0  105.500000  108.000000  107.000000  113608177.0  103.195557
 2021-01-08  109.5  106.000000  109.000000  108.000000  114222138.0  104.160004
 ...           ...         ...         ...         ...          ...         ...
 2021-11-04  108.5  107.500000  108.500000  108.000000   11307246.0  108.000000
 2021-11-05  109.0  107.500000  108.000000  109.000000   17621370.0  109.000000
 2021-11-08  108.0  107.000000  107.500000  107.500000   19912872.0  107.500000
 2021-11-09  108.0  107.000000  107.500000  108.000000   23901115.0  108.000000
 2021-11-10  109.5  107.500000  108.000000  109.000000   22884334.0  109.000000

 [207 rows x 6 columns]}

In [12]:
prices_dict = {key:value['Adj Close'] for key,value in all_data.items()}
prices_dict

{'2330.TW': Date
 2021-01-04    529.199707
 2021-01-05    535.123657
 2021-01-06    542.034790
 2021-01-07    557.831787
 2021-01-08    572.641541
                  ...
 2021-11-04    587.000000
 2021-11-05    600.000000
 2021-11-08    602.000000
 2021-11-09    611.000000
 2021-11-10    612.000000
 Name: Adj Close, Length: 207, dtype: float64,
 '2303.TW': Date
 2021-01-04    44.115456
 2021-01-05    44.890259
 2021-01-06    45.471363
 2021-01-07    44.744984
 2021-01-08    46.343018
                 ...
 2021-11-04    58.599998
 2021-11-05    60.400002
 2021-11-08    62.500000
 2021-11-09    63.099998
 2021-11-10    63.099998
 Name: Adj Close, Length: 207, dtype: float64,
 '2454.TW': Date
 2021-01-04    761.379333
 2021-01-05    766.185974
 2021-01-06    761.379333
 2021-01-07    768.108643
 2021-01-08    805.600830
                  ...
 2021-11-04    928.000000
 2021-11-05    940.000000
 2021-11-08    980.000000
 2021-11-09    978.000000
 2021-11-10    958.000000
 Name: Adj Close, Length: 207, dtype: float64,
 '2317.TW': Date
 2021-01-04     96.348000
 2021-01-05    100.302223
 2021-01-06    101.266670
 2021-01-07    103.195557
 2021-01-08    104.160004
                  ...
 2021-11-04    108.000000
 2021-11-05    109.000000
 2021-11-08    107.500000
 2021-11-09    108.000000
 2021-11-10    109.000000
 Name: Adj Close, Length: 207, dtype: float64}

In [15]:
import pandas as pd
prices = pd.DataFrame(prices_dict)
prices.columns = ['台積電','聯電','聯發科','鴻海']
prices

                   台積電         聯電         聯發科          鴻海
Date
2021-01-04  529.199707  44.115456  761.379333   96.348000
2021-01-05  535.123657  44.890259  766.185974  100.302223
2021-01-06  542.034790  45.471363  761.379333  101.266670
2021-01-07  557.831787  44.744984  768.108643  103.195557
2021-01-08  572.641541  46.343018  805.600830  104.160004
...                ...        ...         ...         ...
2021-11-04  587.000000  58.599998  928.000000  108.000000
2021-11-05  600.000000  60.400002  940.000000  109.000000
2021-11-08  602.000000  62.500000  980.000000  107.500000
2021-11-09  611.000000  63.099998  978.000000  108.000000
2021-11-10  612.000000  63.099998  958.000000  109.000000

[207 rows x 4 columns]