In [4]:
import requests

jsonUrl = 'http://ods.railway.gov.tw/tra-ods-web/ods/download/dataResource/8ae4cabf6973990e0169947ed32454b9'
response = requests.get(jsonUrl)
source_json = response.json()

In [5]:
import pandas as pd
frame = pd.DataFrame(source_json)
frame

      trnOpDate staCode gateInComingCnt gateOutGoingCnt
0      20220101    0900            8645            8526
1      20220101    0910             996            1243
2      20220101    0920            1369            1711
3      20220101    0930            3663            4535
4      20220101    0940            1532            1845
...         ...     ...             ...             ...
36099  20220601    7360            2088            2263
36100  20220601    7361              17              40
36101  20220601    7362              31              30
36102  20220601    7380             509             508
36103  20220601    7390             354             369

[36104 rows x 4 columns]