In [2]:
#DataFrame
#key
#value->使用list
data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份':[2000, 2001, 2002, 2001, 2002, 2003],
    '人口':[2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

import pandas as pd
frame = pd.DataFrame(data)
frame

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [3]:
frame.head()

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5

In [5]:
frame.tail()

   縣市    年份   人口
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [6]:
#取出欄位
frame['縣市']

0    台北
1    台北
2    台北
3    新竹
4    新竹
5    新竹
Name: 縣市, dtype: object

In [9]:
frame[['縣市', '年份']]

   縣市    年份
0  台北  2000
1  台北  2001
2  台北  2002
3  新竹  2001
4  新竹  2002
5  新竹  2003

In [8]:
frame

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [10]:
#增加欄位
frame['負債'] = [3.5, 7.5, 6.2, 9.5, 4.9, 0.3]
frame

   縣市    年份   人口   負債
0  台北  2000  2.2  3.5
1  台北  2001  2.5  7.5
2  台北  2002  2.7  6.2
3  新竹  2001  1.1  9.5
4  新竹  2002  1.5  4.9
5  新竹  2003  2.0  0.3

In [13]:
#改變人口欄位的內容
frame['人口'] = frame['人口'] * 2
frame

   縣市    年份   人口   負債
0  台北  2000  4.4  3.5
1  台北  2001  5.0  7.5
2  台北  2002  5.4  6.2
3  新竹  2001  2.2  9.5
4  新竹  2002  3.0  4.9
5  新竹  2003  4.0  0.3

In [19]:
#取出一列
frame.iloc[0:1]

   縣市    年份   人口   負債
0  台北  2000  4.4  3.5

In [20]:
#取出3列
frame.iloc[0:3]

   縣市    年份   人口   負債
0  台北  2000  4.4  3.5
1  台北  2001  5.0  7.5
2  台北  2002  5.4  6.2

In [23]:
import numpy as np 
import pandas as pd

scores = np.random.randint(50,101,size=(50, 5))
scores_pd = pd.DataFrame(scores, columns=['國文','英文','數學','地理','歷史'], index=range(1,51))
scores_pd.index.name="學號"
scores_pd.columns.name="科目"
scores_pd

科目   國文   英文   數學   地理   歷史
學號
1    81   97   88   61   51
2    85   75   96   54   68
3    52   89   65   83  100
4    92   94   90   94   75
5    63   55   71   67   78
6    69   94  100   60   80
7    98   92   70   63   82
8    62   55   51   75   59
9    87   98   68   89   58
10   70   73   92   84   67
11   90   77   58   84   91
12   74   97   56   70   87
13   79   55   54   96   64
14   79   86   92   70   55
15   82   83   57   53   78
16   63   89   76   87   56
17   95   99   77   84   67
18   91   76   95   89   79
19   58   80   76   75   56
20   50   91   64   82   66
21   56   77   91   64   53
22   59   94   97   75   66
23   72   93   60   51   85
24   92  100   68   51   69
25   60   81   66   81   71
26   62   74   78   56   66
27   75   60   54   99   94
28   58   72   78   71   57
29   68   77   78   93  100
30   89  100   62   70   85
31   66   90   96   70   66
32   98   60   93  100   76
33   86   97   65   58   71
34   68   61   67   52   51
35   94   69   54   65   56
36  100   96   55   73   83
37   66   72   96   55   81
38   67   54   93   90   99
39   90   86   53   82   53
40   56   65   90   99   58
41   52   81   69   57   83
42   52   63   72   73   66
43   98   97   56   95   98
44   50   88   72   95   96
45   73   58   74   55   97
46   98   62   77   82   89
47   70   82   79   80   54
48   66   79   79   88   87
49   52   73   72   74   89
50   67   82   65   60   87

In [25]:
scores_pd.sum(axis=0)

科目
國文    3680
英文    3998
數學    3705
地理    3734
歷史    3703
dtype: int64

In [27]:
scores_pd.sum(axis=1)

學號
1     378
2     378
3     389
4     445
5     334
6     403
7     405
8     302
9     400
10    386
11    400
12    384
13    348
14    382
15    353
16    371
17    422
18    430
19    345
20    353
21    341
22    391
23    361
24    380
25    359
26    336
27    382
28    336
29    416
30    406
31    388
32    427
33    377
34    299
35    338
36    407
37    370
38    403
39    364
40    368
41    342
42    326
43    444
44    401
45    357
46    408
47    365
48    399
49    360
50    361
dtype: int64

In [28]:
scores_pd['總分'] = scores_pd.sum(axis=1)
scores_pd

科目   國文   英文   數學   地理   歷史   總分
學號
1    81   97   88   61   51  378
2    85   75   96   54   68  378
3    52   89   65   83  100  389
4    92   94   90   94   75  445
5    63   55   71   67   78  334
6    69   94  100   60   80  403
7    98   92   70   63   82  405
8    62   55   51   75   59  302
9    87   98   68   89   58  400
10   70   73   92   84   67  386
11   90   77   58   84   91  400
12   74   97   56   70   87  384
13   79   55   54   96   64  348
14   79   86   92   70   55  382
15   82   83   57   53   78  353
16   63   89   76   87   56  371
17   95   99   77   84   67  422
18   91   76   95   89   79  430
19   58   80   76   75   56  345
20   50   91   64   82   66  353
21   56   77   91   64   53  341
22   59   94   97   75   66  391
23   72   93   60   51   85  361
24   92  100   68   51   69  380
25   60   81   66   81   71  359
26   62   74   78   56   66  336
27   75   60   54   99   94  382
28   58   72   78   71   57  336
29   68   77   78   93  100  416
30   89  100   62   70   85  406
31   66   90   96   70   66  388
32   98   60   93  100   76  427
33   86   97   65   58   71  377
34   68   61   67   52   51  299
35   94   69   54   65   56  338
36  100   96   55   73   83  407
37   66   72   96   55   81  370
38   67   54   93   90   99  403
39   90   86   53   82   53  364
40   56   65   90   99   58  368
41   52   81   69   57   83  342
42   52   63   72   73   66  326
43   98   97   56   95   98  444
44   50   88   72   95   96  401
45   73   58   74   55   97  357
46   98   62   77   82   89  408
47   70   82   79   80   54  365
48   66   79   79   88   87  399
49   52   73   72   74   89  360
50   67   82   65   60   87  361

In [30]:
scores_pd['平均'] = scores_pd['總分'] / 5
scores_pd

科目   國文   英文   數學   地理   歷史   總分    平均
學號
1    81   97   88   61   51  378  75.6
2    85   75   96   54   68  378  75.6
3    52   89   65   83  100  389  77.8
4    92   94   90   94   75  445  89.0
5    63   55   71   67   78  334  66.8
6    69   94  100   60   80  403  80.6
7    98   92   70   63   82  405  81.0
8    62   55   51   75   59  302  60.4
9    87   98   68   89   58  400  80.0
10   70   73   92   84   67  386  77.2
11   90   77   58   84   91  400  80.0
12   74   97   56   70   87  384  76.8
13   79   55   54   96   64  348  69.6
14   79   86   92   70   55  382  76.4
15   82   83   57   53   78  353  70.6
16   63   89   76   87   56  371  74.2
17   95   99   77   84   67  422  84.4
18   91   76   95   89   79  430  86.0
19   58   80   76   75   56  345  69.0
20   50   91   64   82   66  353  70.6
21   56   77   91   64   53  341  68.2
22   59   94   97   75   66  391  78.2
23   72   93   60   51   85  361  72.2
24   92  100   68   51   69  380  76.0
25   60   81   66   81   71  359  71.8
26   62   74   78   56   66  336  67.2
27   75   60   54   99   94  382  76.4
28   58   72   78   71   57  336  67.2
29   68   77   78   93  100  416  83.2
30   89  100   62   70   85  406  81.2
31   66   90   96   70   66  388  77.6
32   98   60   93  100   76  427  85.4
33   86   97   65   58   71  377  75.4
34   68   61   67   52   51  299  59.8
35   94   69   54   65   56  338  67.6
36  100   96   55   73   83  407  81.4
37   66   72   96   55   81  370  74.0
38   67   54   93   90   99  403  80.6
39   90   86   53   82   53  364  72.8
40   56   65   90   99   58  368  73.6
41   52   81   69   57   83  342  68.4
42   52   63   72   73   66  326  65.2
43   98   97   56   95   98  444  88.8
44   50   88   72   95   96  401  80.2
45   73   58   74   55   97  357  71.4
46   98   62   77   82   89  408  81.6
47   70   82   79   80   54  365  73.0
48   66   79   79   88   87  399  79.8
49   52   73   72   74   89  360  72.0
50   67   82   65   60   87  361  72.2