In [3]:
import pandas_datareader.data as web
all_data = {ticker:web.get_data_yahoo(ticker) for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

In [4]:
import pandas as pd

price=pd.DataFrame({ticker: data['Adj Close'] for ticker, data in all_data.items()})
price

                  AAPL         IBM        MSFT         GOOG
Date
2017-06-28   34.513081  117.300217   65.378456   940.489990
2017-06-29   34.004250  116.401543   64.151421   917.789978
2017-06-30   34.084713  116.174950   64.563553   908.729980
2017-07-03   33.961651  117.496552   63.851692   898.700012
2017-07-05   34.101276  116.054108   64.704063   911.710022
...                ...         ...         ...          ...
2022-06-21  135.869995  137.850006  253.740005  2240.300049
2022-06-22  135.350006  137.080002  253.130005  2240.679932
2022-06-23  138.270004  138.440002  258.859985  2253.689941
2022-06-24  141.660004  142.059998  267.700012  2370.760010
2022-06-27  141.660004  142.800003  264.890015  2332.449951

[1258 rows x 4 columns]