In [1]:
import numpy as np
import pandas as pd

#美國球賽門票收入
tips = pd.read_csv('tips.csv')
tips

     total_bill   tip smoker   day    time  size
0         16.99  1.01     No   Sun  Dinner     2
1         10.34  1.66     No   Sun  Dinner     3
2         21.01  3.50     No   Sun  Dinner     3
3         23.68  3.31     No   Sun  Dinner     2
4         24.59  3.61     No   Sun  Dinner     4
..          ...   ...    ...   ...     ...   ...
239       29.03  5.92     No   Sat  Dinner     3
240       27.18  2.00    Yes   Sat  Dinner     2
241       22.67  2.00    Yes   Sat  Dinner     2
242       17.82  1.75     No   Sat  Dinner     2
243       18.78  3.00     No  Thur  Dinner     2

[244 rows x 6 columns]

In [5]:
tips.columns = ['總票價', '小費', '吸煙者', '日期', '時間', '大小']
tips.iloc[100:120]

       總票價    小費  吸煙者    日期      時間  大小
100  11.35  2.50  Yes   Fri  Dinner   2
101  15.38  3.00  Yes   Fri  Dinner   2
102  44.30  2.50  Yes   Sat  Dinner   3
103  22.42  3.48  Yes   Sat  Dinner   2
104  20.92  4.08   No   Sat  Dinner   2
105  15.36  1.64  Yes   Sat  Dinner   2
106  20.49  4.06  Yes   Sat  Dinner   2
107  25.21  4.29  Yes   Sat  Dinner   2
108  18.24  3.76   No   Sat  Dinner   2
109  14.31  4.00  Yes   Sat  Dinner   2
110  14.00  3.00   No   Sat  Dinner   2
111   7.25  1.00   No   Sat  Dinner   1
112  38.07  4.00   No   Sun  Dinner   3
113  23.95  2.55   No   Sun  Dinner   2
114  25.71  4.00   No   Sun  Dinner   3
115  17.31  3.50   No   Sun  Dinner   2
116  29.93  5.07   No   Sun  Dinner   4
117  10.65  1.50   No  Thur   Lunch   2
118  12.43  1.80   No  Thur   Lunch   2
119  24.08  2.92   No  Thur   Lunch   4

In [7]:
grouped = tips.groupby(['日期', '吸煙者'])
grouped['小費'].mean().unstack()

吸煙者         No       Yes
日期
Fri   2.812500  2.714000
Sat   3.102889  2.875476
Sun   3.167895  3.516842
Thur  2.673778  3.030000