In [1]:
import numpy as np
import pandas as pd

dataFrame = pd.read_csv('world.csv')
dataFrame

,ID,iso_code,洲名,國家,日期,總確診數,新增確診數,七天移動平均新增確診數,總死亡數,新增死亡數,...,七天移動平均疫苗新增接種劑數,每百人接種疫苗劑數,每百人接種疫苗人數,疫情控管指數,總人口數,中位數年紀,70歲以上人口比例,平均壽命,解除隔離數,解封指數
0,1,AFG,亞洲,阿富汗,2020-02-24,5,5,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
1,2,AFG,亞洲,阿富汗,2020-02-25,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
2,3,AFG,亞洲,阿富汗,2020-02-26,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
3,4,AFG,亞洲,阿富汗,2020-02-27,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
4,5,AFG,亞洲,阿富汗,2020-02-28,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187880,187881,ZWE,非洲,辛巴威,2022-07-02,255586,0,39.571,5555,0,...,6190.0,79.41,41.81,0.00,15092171,19.6,1.882,61.49,0,99999.0
187881,187882,ZWE,非洲,辛巴威,2022-07-03,255586,0,33.000,5555,0,...,8710.0,79.55,41.86,0.00,15092171,19.6,1.882,61.49,0,99999.0
187882,187883,ZWE,非洲,辛巴威,2022-07-04,255726,140,49.000,5558,3,...,10797.0,79.67,41.90,0.00,15092171,19.6,1.882,61.49,0,99999.0
187883,187884,ZWE,非洲,辛巴威,2022-07-05,255755,29,53.143,5558,0,...,10821.0,79.68,41.90,0.00,15092171,19.6,1.882,61.49,0,99999.0
187884,187885,ZWE,非洲,辛巴威,2022-07-06,255805,50,40.714,5560,2,...,0.0,0.00,0.00,0.00,15092171,19.6,1.882,61.49,0,99999.0

In [4]:
grouped = dataFrame.groupby(by='洲名')
grouped['新增死亡數'].agg([('總死亡數','sum')])

        總死亡數
洲名
亞洲   1437516
全球   6302810
北美洲  1456351
南美洲  1282552
大洋洲    14489
歐洲   1853702
非洲    255045

In [6]:
grouped = dataFrame.groupby(by=['洲名','國家'])
grouped['新增死亡數'].agg([('總死亡數','sum'),('最高死亡數','max')])

           總死亡數  最高死亡數
洲名 國家
亞洲 不丹        21      2
   中國大陸    3924    252
   亞塞拜然    9717    111
   亞美尼亞    8631     70
   以色列    11053    129
...         ...    ...
非洲 迦納      1452     28
   阿爾及利亞   6875     49
   馬利       737     11
   馬拉威     2646     73
   馬達加斯加   1401     54

[231 rows x 2 columns]

In [10]:
grouped = dataFrame.groupby(by=['洲名','國家'])
grouped['新增死亡數'].agg([('總死亡數','sum'),('最高死亡數','max')]).loc['亞洲']

            總死亡數  最高死亡數
國家
不丹            21      2
中國大陸        3924    252
亞塞拜然        9717    111
亞美尼亞        8631     70
以色列        11053    129
伊拉克        25249    122
伊朗        141413    709
北賽普勒斯          0      0
北韓             6      6
卡達           679     10
印尼        156770   2069
印度        517932   4529
台灣          7223    276
吉爾吉斯        3434    727
哈薩克        19299   2291
喬治亞        16844     86
土庫曼            0      0
土耳其        99057    394
塔吉克          125      9
孟加拉        29185    264
寮國           758     17
尼泊爾        11952    619
巴勒斯坦        5662    268
巴基斯坦       30413    313
巴林          1498     29
敘利亞         3150     27
斯里蘭卡       16524    334
新加坡         1423     22
日本         31360    322
東帝汶          133      5
柬埔寨         3056     39
汶萊           225     17
沙烏地阿拉伯      9215     77
泰國         30780    312
澳門             2      2
烏茲別克        1637      9
科威特         2556     20
約旦         14068    111
緬甸         19435    397
菲律賓        60630    478
葉門          2149     60
蒙古          2179     38
越南         43274    804
阿富汗         7725    159
阿拉伯聯合大公國    2322     20
阿曼          4260    255
韓國         24593    470
香港          9406    294
馬來西亞       35792    592
馬爾地夫         306     10
黎巴嫩        10471    351

In [15]:
grouped['新增死亡數'].agg([('總死亡數','sum'),('最高死亡數','max')]).loc['亞洲'].loc[['台灣','日本','韓國']]

     總死亡數  最高死亡數
國家
台灣   7223    276
日本  31360    322
韓國  24593    470