In [2]:
import numpy as np
import pandas as pd

#美國球門票收入
tips = pd.read_csv('tips.csv')
tips

     total_bill   tip smoker   day    time  size
0         16.99  1.01     No   Sun  Dinner     2
1         10.34  1.66     No   Sun  Dinner     3
2         21.01  3.50     No   Sun  Dinner     3
3         23.68  3.31     No   Sun  Dinner     2
4         24.59  3.61     No   Sun  Dinner     4
..          ...   ...    ...   ...     ...   ...
239       29.03  5.92     No   Sat  Dinner     3
240       27.18  2.00    Yes   Sat  Dinner     2
241       22.67  2.00    Yes   Sat  Dinner     2
242       17.82  1.75     No   Sat  Dinner     2
243       18.78  3.00     No  Thur  Dinner     2

[244 rows x 6 columns]

In [3]:
tips.columns = ['總票價', '小費', '吸煙者', '日期', '時間', '大小']
tips

       總票價    小費  吸煙者    日期      時間  大小
0    16.99  1.01   No   Sun  Dinner   2
1    10.34  1.66   No   Sun  Dinner   3
2    21.01  3.50   No   Sun  Dinner   3
3    23.68  3.31   No   Sun  Dinner   2
4    24.59  3.61   No   Sun  Dinner   4
..     ...   ...  ...   ...     ...  ..
239  29.03  5.92   No   Sat  Dinner   3
240  27.18  2.00  Yes   Sat  Dinner   2
241  22.67  2.00  Yes   Sat  Dinner   2
242  17.82  1.75   No   Sat  Dinner   2
243  18.78  3.00   No  Thur  Dinner   2

[244 rows x 6 columns]

In [4]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   總票價     244 non-null    float64
 1   小費      244 non-null    float64
 2   吸煙者     244 non-null    object
 3   日期      244 non-null    object
 4   時間      244 non-null    object
 5   大小      244 non-null    int64
dtypes: float64(2), int64(1), object(3)
memory usage: 11.6+ KB

In [5]:
tips

       總票價    小費  吸煙者    日期      時間  大小
0    16.99  1.01   No   Sun  Dinner   2
1    10.34  1.66   No   Sun  Dinner   3
2    21.01  3.50   No   Sun  Dinner   3
3    23.68  3.31   No   Sun  Dinner   2
4    24.59  3.61   No   Sun  Dinner   4
..     ...   ...  ...   ...     ...  ..
239  29.03  5.92   No   Sat  Dinner   3
240  27.18  2.00  Yes   Sat  Dinner   2
241  22.67  2.00  Yes   Sat  Dinner   2
242  17.82  1.75   No   Sat  Dinner   2
243  18.78  3.00   No  Thur  Dinner   2

[244 rows x 6 columns]

In [6]:
#增加小費比例
tips['小費比例'] = tips['小費'] / tips['總票價']
tips

       總票價    小費  吸煙者    日期      時間  大小      小費比例
0    16.99  1.01   No   Sun  Dinner   2  0.059447
1    10.34  1.66   No   Sun  Dinner   3  0.160542
2    21.01  3.50   No   Sun  Dinner   3  0.166587
3    23.68  3.31   No   Sun  Dinner   2  0.139780
4    24.59  3.61   No   Sun  Dinner   4  0.146808
..     ...   ...  ...   ...     ...  ..       ...
239  29.03  5.92   No   Sat  Dinner   3  0.203927
240  27.18  2.00  Yes   Sat  Dinner   2  0.073584
241  22.67  2.00  Yes   Sat  Dinner   2  0.088222
242  17.82  1.75   No   Sat  Dinner   2  0.098204
243  18.78  3.00   No  Thur  Dinner   2  0.159744

[244 rows x 7 columns]

In [10]:
#取得小費比例最高的前6筆
tips.sort_values(by='小費比例',ascending=False).iloc[:6]

       總票價    小費  吸煙者   日期      時間  大小      小費比例
172   7.25  5.15  Yes  Sun  Dinner   2  0.710345
178   9.60  4.00  Yes  Sun  Dinner   2  0.416667
67    3.07  1.00  Yes  Sat  Dinner   1  0.325733
232  11.61  3.39   No  Sat  Dinner   2  0.291990
183  23.17  6.50  Yes  Sun  Dinner   4  0.280535
109  14.31  4.00  Yes  Sat  Dinner   2  0.279525

In [13]:
#建立自訂function,小費比例最高的前6筆
def top(df,n=6,columns='小費比例'):
    return df.sort_values(by=columns,ascending=False).iloc[:n]

top(tips)

       總票價    小費  吸煙者   日期      時間  大小      小費比例
172   7.25  5.15  Yes  Sun  Dinner   2  0.710345
178   9.60  4.00  Yes  Sun  Dinner   2  0.416667
67    3.07  1.00  Yes  Sat  Dinner   1  0.325733
232  11.61  3.39   No  Sat  Dinner   2  0.291990
183  23.17  6.50  Yes  Sun  Dinner   4  0.280535
109  14.31  4.00  Yes  Sat  Dinner   2  0.279525

In [15]:
#請取出吸煙者和非煙者,小費比例最高的前6筆
tips.groupby(by='吸煙者').apply(top,n=3)

           總票價    小費  吸煙者    日期      時間  大小      小費比例
吸煙者
No  232  11.61  3.39   No   Sat  Dinner   2  0.291990
    149   7.51  2.00   No  Thur   Lunch   2  0.266312
    51   10.29  2.60   No   Sun  Dinner   2  0.252672
Yes 172   7.25  5.15  Yes   Sun  Dinner   2  0.710345
    178   9.60  4.00  Yes   Sun  Dinner   2  0.416667
    67    3.07  1.00  Yes   Sat  Dinner   1  0.325733

In [17]:
tips.groupby(by=['吸煙者','日期']).apply(top,n=1)

                總票價    小費  吸煙者    日期      時間  大小      小費比例
吸煙者 日期
No  Fri  223  15.98  3.00   No   Fri   Lunch   3  0.187735
    Sat  232  11.61  3.39   No   Sat  Dinner   2  0.291990
    Sun  51   10.29  2.60   No   Sun  Dinner   2  0.252672
    Thur 149   7.51  2.00   No  Thur   Lunch   2  0.266312
Yes Fri  93   16.32  4.30  Yes   Fri  Dinner   2  0.263480
    Sat  67    3.07  1.00  Yes   Sat  Dinner   1  0.325733
    Sun  172   7.25  5.15  Yes   Sun  Dinner   2  0.710345
    Thur 194  16.58  4.00  Yes  Thur   Lunch   2  0.241255